.container-preload {
    background-color: #ffffffcc;;
    display: flex;
    height: -webkit-fill-available;
    width: 100%;
}

.preloader-wrapper.big {
    width: 120px;
    height: 120px;
}

.circle-clipper .circle {
    border-width: 6px;
}

#cargando {
    margin: 0;
    text-align: center;
    font-size: 27px;
}

#mensaje {
    margin-top: 6%;
    font-size: larger;
    padding: 19px;
    font-weight: bold;
    text-shadow: 0 0 1px #ababab;
}