label {
    color: black;
    font-size: 20px;
    text-align: center;
}

.lblTitulo {
    font-style: oblique;
    color: crimson;
    font-weight: bold;
    font-size: x-large;
}

.lblPass{
    text-transform: none;
}

body {
    display: flex;
    flex-flow: column wrap;
}

.container {
    margin: auto;
}

.formulario {
    margin: 10px 0;
}

#error {
    color: red;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    display: none;
}