.close {
    position: fixed;
    top: 7px;
    left: 10px;
    font-size: 40px;
    cursor: pointer;
}

body {
    height: auto !important;
}

.container-datos {
    background-color: #f3f3f3;
    padding: 10px 20px;
    margin: 0px 15px 30px 15px;
    display: flex;
    flex-flow: row wrap;
    box-shadow: inset 0 0 4px black;
}

#nombre_doc {
    width: 100%;
    text-align: center;
    font-size: 15px;
}

#planta {
    width: 40%;
    text-align: right;
    font-size: 15px;
    margin: 0 auto;
}

#nombre_hospital {
    width: 100%;
    text-align: center;
    font-size: 15px;
}

#direccion {
    width: 100%;
    text-align: left;
    font-size: 15px;
    margin: 0 auto;
}

#dia-hora {
    width: 100%;
    font-size: 20px;
    margin: 5px 0;
}

#sala {
    width: 40%;
    text-align: left;
    font-size: 15px;
    margin: 0 auto;
}

.notas {
    width: 100%;
    text-align: left;
    font-size: 15px;
    margin-bottom: 0;
}

.notas-container {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    margin: 0;
    font-size: 13px;
    height: 150px;
    overflow-y: scroll;
}

.mapouter {
    position: relative;
    height: 100%;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}