.container-medicamento {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 5px 0 !important;
    box-shadow: 0 0 3px black;
}

.imagen-med {
    border: 1px solid black;
    border-radius: 100px;
    background-color: white;
    margin: auto;
}

.container-img {
    width: 20%;
    display: flex;
}

.container-datos {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
}

.nombre-med {
    text-transform: capitalize;
    font-size: 17px;
    width: 50%;
    margin: auto;
    text-align: center;
}

.hora-med {
    text-transform: capitalize;
    font-size: 17px;
    width: 50%;
    margin: auto;
}

.container-medicamento-tomado {
    width: 100%;
    display: flex;
    margin: auto 5px;
}

.switch label .lever {
    margin: 0 4px;
}

.text {
    font-size: 16px;
    text-transform: none;
}

.lbl-med {
    font-size: .8rem;
    color: #000000;
}

#dia-actual {
    text-transform: none;
    text-align: center;
    font-size: 22px;
    margin: 20px 0 0 0;
}