.container-general {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: 100vh;
}

.container-idioma {
    width: 80%;
    padding: 10px 30px;
    background-color: white;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.btn-idiomas {
    margin: 5px 0;
}

.titulo {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}

.izquierda {
    animation: izquierdaCentro 0.5s both;
}

.derecha {
    animation: derechaCentro 0.5s both;
}

@keyframes izquierdaCentro {
    From {
        transform: translateX(-200%);
    }

    To {
        transform: translateX(0%);
    }
}

@keyframes derechaCentro {
    From {
        transform: translateX(200%);
    }

    To {
        transform: translateX(0%);
    }
}