.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.frames {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0px;
    right: 0;
}

.tabs .indicator {
    height: 3px;
    transition: 1s;
}

.col.ningunPadding.s12 {
    padding: 0;
}

#container-frame-home {
    transform: 3s;
}

#container-frame-consultas {
    transition: 3s;
}

#container-frame-pastillas {
    transition: 3s;
}

#frame-password {
    margin: auto;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
}