.list-view .list-cell:odd {
    -fx-background-color: "#FFFFFF";
    -fx-background-radius: 10;
}

.list-view .list-cell:even {
    -fx-background-color: "#FFFFFF";
    -fx-background-radius: 10;
}

.list-view .list-cell:empty {
    visibility : hidden;
}

.list-view, .split-pane { -fx-background-insets: 0;}
