.tab-pane *.tab-header-background {
    -fx-opacity: 0.5;
}

.tab {
    -fx-pref-width: 150;
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-family: Corbel;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}